/* BungsuDev. Al azmi */

@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Solway:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap');

body {
	font-family: 'PT Sans', sans-serif;
}

.logo {
	width: 180px;
	height: 50px;
}

.navbar {
	background-color: #ffffff;
	padding: .1rem 1rem;
	border: none;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

button>.navbar-toggler {
	color: #17a2b8 !important;
}

.navbar-nav .nav-link.text {
	color: rgb(173, 173, 173);
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
}


.navbar-nav .nav-link.active {
	color: #186d7a !important;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
}

.navbar>div>ul>li>.text:hover {
	color: #186d7a !important;
	box-shadow: inset 0 -4px 0 #3fd5e0;
}

.btn {
	margin: 5px;
}

.headpict {
	max-width: 100%;
	height: auto;
	width: auto\9;
	/* ie8 */

}

.modal-content {
	/* background-color: #00C2B4; */
	border: none;
	color: #363636;
}

#formsignin {
	margin-top: 30px;
}

.g-signin2 {
	margin-top: 10px;
}

.reg1 {
	font-size: 13px;
}

.reg2.col-lg-5 a{
	font-size: 13px;
}

.reg2 a:hover,
a:hover {
	text-decoration: none;
	/* font-size: 13px; */
}

.carousel-item {
	filter: brightness(40%);
}

.carousel-caption h1 {
	font-family: 'Solway', sans-serif;
}

.carousel-caption h5 {
	font-family: 'Lobster Two', cursive;
}

.carousel-caption h4 {
	font-family: 'Solway', sans-serif;
}

.container {
	margin-top: 20px;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url("assets/font/proximaNova/Proxima Nova Alt Bold.otf");
}

.boxInner {
	-webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.36);
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.36);
	width: 320px;
	height: 350px;
	margin-bottom: 20px;
	font-family: 'Baskervville', serif;
	margin-right: 20px;
}

.boxInner h4,
p {
	/* color: #505050; */
	text-align: center;
	margin-top: 20px;
	padding: 10px;
}

.boxInner button {
	width: 310px;
	height: 45px;
	font-size: large;
}

.midCategory {
	background-color: #fafafa;
	width: 100%;
}

.categoryBox {
	width: 285px;
	height: 168px;
	filter: blur(0.4px);
	font-family: 'Baskervville', serif;
}

.categoryBox img {
	width: 110px;
	height: 90px;
}

.categoryBox:hover {
	transform: scale(1.05);
}

.loginBox {
	width: 380px;
	height: 580px;
	background-color: #ffffff;
	padding: 30px;
}

.signupBox {
	font-family: 'Cuprum', sans-serif;
	width: 350px;
	height: 330px;
	color: #3d464d;
	background-color: #ffffff;
	padding: 30px;
}

.hrRight {
	width: 100%;
	height: 330px;
	border-right: 1px solid #91989e;
	padding: 0px;
}

.hrLeft {
	width: 100%;
	height: 330px;
	border-left: 1px solid #c1c2c4;
	padding: 0px;
}

.btn200 {
	width: 200px !important;
	margin: 0;
}

.signupBox a{
	text-decoration: none;
}

.imgScale:hover {
	transform: scale(1.1);
}

.textNone {
	font-family: 'PT Sans', sans-serif !important;
}

.borderNone{
	border: none;
}

.flatButton{
	border-radius: 0 !important;
	margin: 0px;
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.card-link:hover{
	background-color: #edf4fc;
}

.card-side{
	width: 100%;
	height: 10rem !important;
	color: #212529;
	text-align: justify;
	font-size: 0.9rem;
	padding: 0px;
	margin-top: 20px;
}

.imgLogoPT{
	width: 7rem;
	height: 7rem;
	padding: 0px;
}

.span-title{
	font-size: 1rem;
	font-weight: bold;
	color: #343a40;
}

.span-company{
	font-size: 0.9rem;
	color: #343a40;
}

p.desc{
	color: #505050;
	text-align: justify;
	font-size: 0.9rem;
	padding: 0px;
	margin-top: 20px;
}

.span-date{
	font-size: 0.7rem;
	color: #343a40;
}

footer {
	width: 100%;
	min-height: 300px;
	max-height: 400px;
	background-color: #212529;
	color: #ffffff;
	font-size: small;
}

footer .box {
	width: 50%px;
	height: 100px;
}

footer>div h3 {
	font-family: 'Solway', sans-serif;
}

footer .social {
	width: 40px;
}

footer .social:hover {
	transform: scale(1.05);
}

.copyright {
	width: 100%;
	height: 20px;
	background-color: #1c1f22;
	color: #ffffff;
}

.copyrightLink:hover {
	color: #3fd5e0
}

.tes {
	background-color: #da0e0e;
	width: 100%;
	height: 200px;
	position: absolute;
}